.poetry-container {
  margin: 0.5em;
}

.poetry-card {
  border: 2px solid;
  padding: 0.5em;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right top, #743ad5, #d53a9d);
}

.poetry-card-header {
  border-bottom: 1px solid #ccc;
}

.poetry-card-header h2 {
  text-align: center;
  margin-top: 0;
}

.poetry-card-header h4 {
  text-align: right;
  margin-right: 1em;
  font-style: oblique;
}


.poetry-card-body {
  margin-top: 2em;
  overflow: auto;
  text-align: center;
  font-size: 1.1em;
}

.empty-line {
  height: 1em;
}