.button-container {
    /*border: 1px solid red;*/
    margin-top: 1em;
}

.button {
    display: block;
    width: 100%;
    padding: 1em;
    font-weight: 700;
    color: #fff;
    margin-top: 0.5em;;
    background-color: #3F51B5;
    border: none;
    text-transform: uppercase;
}

.button:hover {
    background-color: #303e92;

}

@media (min-width: 1080px) {
    .author-filter {
        border: none;
    }
}
