.error {
  max-width: 1000px;
  margin: 1em auto;
  height: 76.6vh;
}

button {
  border: none;
  background-color: transparent;
  font-size: 1em;
}

.error h1 {
  text-align: center;
  margin-top: 4em;
}
